extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-snowflake-o(aria-hidden="true")  #{title}
                    i.fa.fa-tree(aria-hidden="true")
            p Hello CCTB! Welcome to #{title}
            p
                form(method="post" action="/insertUser")
                    div.row
                        div.col-lg-6
                            div.form-group
                                label Name
                                input(type="text", class="form-control", id="username",name="username",placeholder="Enter your name",required)
                    div.row
                        div.col-lg-6
                            div.form-group
                                label E-Mail
                                input(type="email", class="form-control", id="email",name="email",placeholder="Enter your email address",required)
                    div.row
                        div.col-lg-6
                            input(type="submit", value="Register")
