extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-snowflake-o(aria-hidden="true")  #{title}
                    i.fa.fa-tree(aria-hidden="true")
            p Hello #{name}! Welcome to #{title} <br/> <br/>
             | Here you can register for doing secret santa at the christmas party.
             | This page will be closed on Friday, 15th December.
             | Then all participants are randomly assigned a person to whom they give a gift. Important: The identity of the gift giver is a secret not to be revealed.
             | You will receive an email with the name of that person.
             | All gifts will be distributed at the christmas party.

            p
                form(method="post" action="/insertUser")
                    div.row
                        div.col-lg-6
                            div.form-group
                                label Name
                                input(type="text", class="form-control", id="username",name="username",placeholder="Enter your name",required)
                    div.row
                        div.col-lg-6
                            div.form-group
                                label E-Mail
                                input(type="email", class="form-control", id="email",name="email",placeholder="Enter your email address",required)
                    div.row
                        div.col-lg-6
                            input(type="submit", value="Register")

