extends layout

block content
    div.container
        div.jumbotron
            h1= title
            p Hello CCTB! Welcome to #{title}
            p
                div.form-group
                    label Name
                    input(type="text", class="form-control", id="usr")
                    label E-Mail
                    input(type="text", class="form-control", id="usr")
                a.btn.btn-santa(href="/register") Register
