//
   Created by sonja on 10/14/17.

extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-snowflake-o(aria-hidden="true")  #{title}
                    i.fa.fa-tree(aria-hidden="true")