extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-snowflake-o(aria-hidden="true")  #{title}
                    i.fa.fa-tree(aria-hidden="true")
            p Hello #{name}! Welcome to #{title}
            p
                div.alert.alert-success #{message}