doctype html
html
    head
        title= mainTitle
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        script(src="/javascripts/insertUserIntoDB.js")
    body(style="background-color: #9b0d12")
        block content
